@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;800&display=swap");
/****************
variables
****************/
/****************
reset style
****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.4s ease;
  font-weight: 800;
  font-size: 1.3rem;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

/****************
mixins
****************/
/****************
basic styles
****************/
html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(rgba(68, 121, 111, 0.6), rgba(68, 121, 111, 0.7)), url(/img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

main {
  max-width: 1140px;
  width: 100%;
  padding: 95px 0;
  margin: auto;
}
@media (max-width: 767px) {
  main {
    width: 90%;
    padding: 30px 0;
  }
}
main nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 767px) {
  main nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
main nav a {
  color: #fff;
  letter-spacing: 2px;
}
main nav a span {
  color: #c0c727;
}
@media (max-width: 767px) {
  main nav .icons {
    margin-top: 10px;
  }
}
main nav .icons a {
  margin-right: 10px;
}
main nav .icons a i {
  font-size: 1.3rem;
}

/****************
header
****************/
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  margin-top: 50px;
}
header article:first-child {
  flex: 0 0 40%;
}
@media (max-width: 767px) {
  header article:first-child {
    flex: 0 0 100%;
  }
}
header article:first-child div:first-child {
  background: #44796f;
  padding: 50px;
}
header article:first-child div:first-child h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
header article:first-child div:first-child p {
  color: #fff;
}
header article:first-child div:first-child button {
  background: #c0c727;
  color: #000;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  transition: 0.4s ease;
  margin-top: 30px;
}
header article:first-child div:first-child button:hover {
  background: #9190a5;
}
header article:first-child div:last-child {
  background: #60c4f5;
  padding: 50px;
}
header article:first-child div:last-child h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
header article:first-child div:last-child p {
  color: #fff;
}
header article:first-child div:last-child button {
  background: #c0c727;
  color: #000;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  transition: 0.4s ease;
  margin-top: 30px;
}
header article:first-child div:last-child button:hover {
  background: #9190a5;
}
header article:last-child {
  flex: 0 0 60%;
}
@media (max-width: 767px) {
  header article:last-child {
    flex: 0 0 100%;
    order: -2;
  }
}
header article:last-child img {
  height: 528.8px;
  display: block;
}
@media (max-width: 767px) {
  header article:last-child img {
    height: auto;
  }
}

/****************
services
****************/
.services {
  background-color: #fff;
  text-align: center;
  padding: 50px 0;
}
.services h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #000;
}
.services p {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services p {
    padding: 0 5px;
  }
}
.services article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.services article div {
  flex: 0 0 33.33%;
}
@media (max-width: 767px) {
  .services article div {
    flex: 0 0 100%;
  }
}
.services article div h4 {
  margin-bottom: 20px;
}
.services article div:nth-child(1) {
  border-right: 1px solid #44796f;
}
.services article div:nth-child(1) i {
  color: #c0c727;
  font-size: 2.5rem;
  border: 1px solid #44796f;
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 20px;
}
.services article div:nth-child(2) {
  border-right: 1px solid #44796f;
}
.services article div:nth-child(2) i {
  color: #44796f;
  font-size: 2.5rem;
  border: 1px solid #44796f;
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 20px;
}
.services article div:nth-child(3) i {
  color: #60c4f5;
  font-size: 2.5rem;
  border: 1px solid #44796f;
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 20px;
}

/****************
gallery
****************/
.gallery {
  padding: 50px 0;
  background-color: #c0c727;
  text-align: center;
}
.gallery h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.gallery .owl-carousel {
  width: 97%;
  margin: 30px auto;
}
.gallery .owl-carousel .owl-nav {
  margin-bottom: 20px;
}

/****************
programs
****************/
.programs {
  background-color: #fff;
  padding: 50px;
}
@media (max-width: 767px) {
  .programs {
    padding: 50px 20px;
  }
}
.programs article {
  width: 90%;
  margin: auto;
  box-shadow: 0 0 10px 5px #9190a5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 767px) {
  .programs article {
    width: 100%;
  }
}
.programs article div {
  flex: 0 0 50%;
}
@media (max-width: 767px) {
  .programs article div {
    flex: 0 0 100%;
  }
}
.programs article .text {
  padding: 0 40px;
}
@media (max-width: 767px) {
  .programs article .text {
    padding: 20px;
    margin-bottom: 20px;
  }
}
.programs article .text h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #000;
}
.programs article .text button {
  background: #60c4f5;
  color: #000;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  transition: 0.4s ease;
  margin-top: 30px;
}
.programs article .text button:hover {
  background: #9190a5;
}
.programs article .text button:hover {
  background-color: #c0c727;
}
@media (max-width: 767px) {
  .programs article div:nth-child(3) {
    order: 1;
  }
}

/****************
footer
****************/
footer {
  background-color: #44796f;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}
footer h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  footer p {
    padding: 0 20px;
  }
}
footer form {
  margin-top: 30px;
}
@media (max-width: 767px) {
  footer form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
footer form .email {
  padding: 10px 0 10px 30px;
  border: none;
  border-radius: 50px 0 0 50px;
  font-size: 1rem;
}
@media (max-width: 767px) {
  footer form .email {
    border-radius: 50px;
    margin-bottom: 20px;
  }
}
footer form button {
  background: #c0c727;
  color: #000;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  border-radius: 0 50px 50px 0;
  transition: 0.4s ease;
  margin-left: -4px;
}
footer form button:hover {
  background: #9190a5;
}
@media (max-width: 767px) {
  footer form button {
    border-radius: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
